<a href="https://colab.research.google.com/github/Amarpreet3/Sentimental-Analysis-Crypto-tweets/blob/main/bitcoinTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#File Uploaded on Google Drive

In [ ]:
#Will upload divide data and will upload in segments on Github

In [ ]:
#Max 25 MB can be uploaded on Github

In [19]:
import pandas as pd

try:
    df = pd.read_csv("/content/bitcoinTweets.csv", encoding='utf-8', error_bad_lines=False)
except UnicodeDecodeError:
    try:
        df = pd.read_csv("/content/bitcoinTweets.csv", encoding='latin-1', error_bad_lines=False)
    except UnicodeDecodeError:
        df = pd.read_csv("/content/bitcoinTweets.csv", encoding='utf-16', error_bad_lines=False)

<ipython-input-19-b4fb662ffbfd>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("/content/bitcoinTweets.csv", encoding='utf-8', error_bad_lines=False)
<ipython-input-19-b4fb662ffbfd>:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("/content/bitcoinTweets.csv", encoding='latin-1', error_bad_lines=False)
<ipython-input-19-b4fb662ffbfd>:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/bitcoinTweets.csv", encoding='latin-1', error_bad_lines=False)

In [20]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ChefSam,Sunshine State,Culinarian | Hot Sauce Artisan | Kombucha Brew...,3/23/2011 3:50,4680.0,2643.0,6232.0,False,3/1/2023 23:59,Which #bitcoin books should I think about read...,['bitcoin'],Twitter for iPhone,False
1,Royâ¡ï¸,NaN,Truth-seeking pleb ð â¢ Science ð§ª â¢ N...,1/30/2022 17:41,770.0,1145.0,9166.0,False,3/1/2023 23:59,"@ThankGodForBTC I appreciate the message, but ...",['Bitcoin'],Twitter for iPhone,False
2,Ethereum Yoda,NaN,UP or DOWN...\n.\n.\n.\n.\nPrice matters NOT.,7/24/2022 4:50,576.0,1.0,0.0,False,3/1/2023 23:59,#Ethereum price update: \n\n#ETH $1664.02 USD\...,"['Ethereum', 'ETH', 'Bitcoin', 'BTC', 'altcoin...",Twitter Web App,False
3,Viction,"Paris, France",https://t.co/8M3rgdjwEe\n\n#bitcoin #blockchai...,3/26/2010 10:15,236.0,1829.0,2195.0,False,3/1/2023 23:59,CoinDashboard v3.0 is here\nAvailable on ios a...,['Bitcoin'],Twitter for Android,False
4,Rosie,London,"The flower language of jasmine is loyalty, res...",2/16/2013 9:57,12731.0,46.0,134.0,False,3/1/2023 23:59,#Bitcoin Short Term Fractal (4H)ð¥\n\nIn low...,"['Bitcoin', 'BTC']",Twitter Web App,False

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174438 entries, 0 to 174437
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         174337 non-null  object
 1   user_location     85029 non-null   object
 2   user_description  159563 non-null  object
 3   user_created      170627 non-null  object
 4   user_followers    169820 non-null  float64
 5   user_friends      169820 non-null  float64
 6   user_favourites   169820 non-null  object
 7   user_verified     169820 non-null  object
 8   date              169820 non-null  object
 9   text              169820 non-null  object
 10  hashtags          169013 non-null  object
 11  source            169013 non-null  object
 12  is_retweet        168954 non-null  object
dtypes: float64(2), object(11)
memory usage: 17.3+ MB

In [22]:


# Check the size of the dataset
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 174438
Number of columns: 13

In [23]:
import pandas as pd
import sys

# Calculate the size of the dataset in megabytes
dataset_size_mb = sys.getsizeof(df) / (1024 * 1024)
print("Dataset size:", round(dataset_size_mb, 2), "MB")

Dataset size: 165.08 MB

In [ ]:
#Basic Summary Statistics:

#To get an overview of the date column, you can use the describe() function:

In [24]:
print(df['date'].describe())

count            169820
unique            10267
top       3/1/2023 1:00
freq                116
Name: date, dtype: object

In [ ]:
#Extracting Information:

#If the date column is stored as strings, you can convert it to a datetime data type for further analysis. For example:

In [25]:
df['date'] = pd.to_datetime(df['date'])

ParserError: ignored